body {
    background-image:url(./img/background_image.jpg);
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
    color: #941F06;
    text-align: center;
    font-weight: bold;
}
.main_list {
    color: #979291;
    float: left;
    font-size: large;
    
}
.profielfoto {
    float: left;
}
nav {
    text-align: center;
    padding: 10px;
    border: 5px solid transparent;
    border-image: url(./img/nav_image.jpg) 30%;
    text-transform: uppercase;
    font-size: large;
}
a:link, a:visited {
    text-decoration: none;
    color: white;
    text-shadow: 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; ;
    position: relative;
}
a:hover {
    color: rgb(255, 60, 0);
}
a:active {
    top: 2px;
}
ul {
    padding-bottom: 50px;
    list-style: circle;
}
.top_list {
    font-weight: bold;
    font-size: 23px;
    list-style: square;
}
#relevant_pages {
    position: fixed;
    bottom: 0px;
    font-size: small;
    left: 20%;
}
.sub_list {
    list-style: initial;
}
table {
    color: white;
    border:5px solid black;
    position: absolute;
    top: 18%;
    bottom: 0px;
    left: 12.5%;
    right: 0px;
    height: 75%;
    width: 75%;
    border-spacing: 5px;
}
td {
    border: 2px solid black;
    text-align: center;
}
td:hover, th:hover {
    background-color: rgb(255, 60, 0);
}
th {
    border: 5px solid white;
}
tfoot {
    background-color: black;
}
table, td, th, tfoot {
    border-radius: 25px;
}
.credits {
    font-size: 0.6em;
}
a.credits:link, a.credits:visited {
    color: #979291;
}