body {
    background-image:url(./img/background_image.jpg);
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    color: rgb(190, 184, 178);
}
h1 {
    color: rgb(190, 184, 178);
    text-align: center;
    font-weight: bold;
}
.profile_list {
    float: left;
    font-size: large;
    margin-left: 20px;
}
.profile_list table, .profile_list th, .profile_list td {
    border: none;
    vertical-align: top;
}
.profile_list td {
    text-align: left;
}
.profielfoto {
    float: left;
    margin-top: 20px;
}
nav {
    text-align: center;
    text-transform: uppercase;
    font-size: large;
    border: 2px solid rgb(179, 160, 160);
    border-radius: 25px;
    padding: 5px;
}
a:link, a:visited {
    text-decoration: none;
    color: rgb(190, 184, 178);
    position: relative;
}
a:hover, a.current {
    color: rgb(255, 60, 0);
}
a:active {
    top: 2px;
}
ul {
    list-style: circle;
}
.top_list {
    font-weight: bold;
    font-size: 23px;
    list-style: square;
}
#relevant_pages {
    position: fixed;
    bottom: 0px;
    font-size: small;
    left: 20%;
}
.sub_list {
    list-style: initial;
    padding: 10px 0;
}
.dashboard_table {
    position: absolute;
    top: 18%;
    bottom: 0px;
    left: 12.5%;
    right: 0px;
    height: 75%;
    width: 75%;
    border-spacing: 5px;
}
td {
    border: 2px solid rgb(179, 160, 160);
    text-align: center;
    padding: 5 px;
    word-break: break-word;
}
.dashboard_table td:hover, .dashboard_table th:hover {
    background-color: white;
        opacity: 0.8;
}
th {
    border: 5px solid rgb(114, 108, 108);
}
.dashboard_table tfoot td {
    border: none;
}
table, td, th, tfoot {
    border-radius: 25px;
}
.credits {
    font-size: 0.6em;
    float: right;
}
a.credits:link, a.credits:visited {
    color: #979291;
}
.table_legend {
    list-style: none;
    padding: 0 5px;
}
.table_legend li {
    margin: 60px 0;
}
.onvoldoende {
    color: red;
}
.afgerond {
    color: green;
}
#nbsa {
    color: blue;
}