body {
    background: #141E30;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
    color: #941F06;
    text-align: center;
    font-weight: bold;
}
.main_list {
    color: #979291;
    float: left;
    font-size: large;
    
}
.profielfoto {
    float: left;
}
nav {
    text-align: center;
    background-color: rgb(155, 14, 14);
    padding: 10px;
    border: 2px solid black;
    text-transform: uppercase;
    font-size: large;
}
a:link {
        color: black;
        position: relative;
}
a:visited {
    color: black;
}
a:hover {
    color: rgb(255, 60, 0);
}
a:active {
    top: 2px;
}
ul {
    padding-bottom: 50px;
    list-style: circle;
}
.top_list {
    font-weight: bold;
    font-size: 23px;
    list-style: square;
}
#relevant_pages {
    position: fixed;
    bottom: 0px;
    font-size: small;
    left: 20%;
}
.sub_list {
    list-style: initial;
}
table {
    color: white;
    background-color: #141E30;
    border:5px solid rgb(155, 14, 14);
    position: absolute;
    top: 18%;
    bottom: 0px;
    left: 12.5%;
    right: 0px;
    height: 75%;
    width: 75%;
}
td {
    border: 2px solid black;
    text-align: center;
}
td:hover, th:hover {
    background-color: rgb(255, 60, 0);
}
